<div class="conteneur">
  <div class="row">
    <button (click)="startNewTest()" class="btn-dim" [disabled]="gameNotOver"
    style="background-color: deepskyblue">
      Starten Sie einen neuen Test
    </button>
  </div>
  <div class="row conteneur-center" *ngIf="gameNotOver">
    <button class="btn-dim" style="color: black;" disabled>
      Frage: {{questionInfo}}, Zeit: {{time | async}} Sekunden, Erfolg: {{currentResult}}
    </button>
    <button class="btn-dim" style="color: black; background-color: azure" disabled>
      {{question.question}}
    </button>
    <div class = "col">
       <button type="button" class="btn-dim"
               style="color: darkblue"
       (click)="nextQuestion(0)">
        {{1}}) {{ choices[0]}}
       </button>
    </div>
    <div class = "col" >
      <button type="button" class="btn-dim"
              style="color: darkblue"
              (click)="nextQuestion(1)">
        {{2}}) {{ choices[1]}}
      </button>
    </div>
    <div class = "col" >
      <button type="button" class="btn-dim"
              style="color: darkblue"
              (click)="nextQuestion(2)">
        {{3}}) {{ choices[2]}}
      </button>
    </div>
    <div class = "col">
      <button type="button" class="btn-dim"
              style="color: darkblue"
              (click)="nextQuestion(3)">
        {{4}}) {{ choices[3]}}
      </button>
    </div>
  </div>

  <div class="row" *ngIf="!gameNotOver">
      <button class="btn-dim" style="background-color: aliceblue; color: blue">
        <h4> Durchschnitt </h4>
        Ergebnisse: {{averageResult}} - Zeit: {{averageTime}} Sek.
      </button>
    <table>
      <tr>
        <th>Datum</th>
        <th>Ergebnisse</th>
        <th>Zeit</th>
      </tr>
      <tr class= "btn btn-block" *ngFor="let test of testResults">
        <td>{{test.date | date: 'short'}}</td>
        <td>{{test.result}}</td>
        <td>{{test.duration}} Sek.</td>
      </tr>
    </table>
    <button (click)="emptyStorage()">
      Entleert die Tabelle
    </button>
  </div>

</div>
