.conteneur
{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px; /* Un peu de hauteur pour que les éléments aient la place de bouger */
  justify-content: space-around;
}

.conteneur-center
{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn-dim{
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.succesful {
  background-color: green;
}

.notsuccesful {
  background-color: red;
}
